<div class="form-main">
<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first">
        <img src="assets/logo.png" id="icon" alt="User Icon" />
      </div>
      <div class="panel-heading">Contractor Login</div>
  
      <!-- Login Form -->
      <form>
        <input type="text" id="login" class="fadeIn second" name="login" placeholder="Login ID">
        <input type="text" id="password" class="fadeIn third" name="login" placeholder="Password">
        <input type="submit" class="fadeIn fourth" value="Log In">
      </form>

  
    </div>
  </div>
</div>

