<form [formGroup]="supervisorDetailsform">
    <div class='form-group'>
        <input type='text' formControlName='name' placeholder="Name*" required>
        <br>
        <span class="text-danger"
            *ngIf="( supervisorDetailsform.controls.name.touched || submitted) &&  supervisorDetailsform.controls.name.errors?.required">
            Name is required
        </span>
    </div>
    <div class='form-group'>
        <input type='number' formControlName='phoneNumber' placeholder="Phone Number*" required>
        <br>
        <span class="text-danger"
            *ngIf="( supervisorDetailsform.controls.phoneNumber.touched || submitted) &&  supervisorDetailsform.controls.phoneNumber.errors?.required">
            Phone Number is required
        </span>
    </div>
    <div class='form-group'>
        <input type='email' formControlName='email' placeholder="Email*" required>
        <br>
        <span class="text-danger"
            *ngIf="( supervisorDetailsform.controls.email.touched || submitted) &&  supervisorDetailsform.controls.email.errors?.required">
            Email is required
        </span>
    </div>
</form>